body{
  background-color: black;
}

.wrapper{
display: flex;
flex-direction: column;
 
}

.title{
position: relative;
  margin-top: 5%;
  margin-left: 10%;
  color: white;
  font-size: 20px;
  font-weight: 100;
  
}

.selections{
 position: absolute;
 flex-direction: column;
 margin-right: 5%;
 margin-top: 9.5%;
 align-items: center;

 
}

button{
  display: flex;
  height: 39px;
  width: 100px;
  margin-left: 900px;
  border-radius: 10% 10% 10% 10%;
  background-color: transparent;
  color: white;
  justify-content: stretch;

}

button:hover {
  background-color: rgba(2, 217, 255, 0.045);
}

button:focus{
  background-color:rgb(3, 125, 255)
}

.graph{
  border: 1px solid rgba(255, 255, 255, 0.104);
  border-radius: 3% ;
  margin-left: 10%;
  width: 730px;
}